body{
  background-color: black;
  overflow: hidden;
  cursor: none;
}

#canvas{ 
  width: 100vw;
  height: 100vh;
}

#vuMeter{
  width: auto;
  height: 10vh;
}

.audioContextButton {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: xx-large;
  position: fixed; 
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scaleY(2) scaleX(5);
  color: aliceblue;
  background-color: black;
}